div.levado-job-sharing * {
	margin: 0;
	padding: 0;
	border: 0;
}

.levado-job-sharing {
	margin-bottom: 20px;
}

.levado-job-sharing img {
	box-shadow: none !important;
}

.levado-job-sharing ul {
	list-style: none;
}

	.levado-job-sharing ul li {
		padding: 10px;
		border: 1px solid rgba(0,0,0,.15);
		border-bottom: 0;
	}

	.levado-job-sharing ul li:last-child {
		border-bottom: 1px solid rgba(0,0,0,.15);
	}

	.levado-job-sharing li .levado-address {
		color: #999;
	}